body {
    background-image: url('busses.jpg'); /* Replace 'path/to/image.jpg' with the actual path to your image */
    background-repeat: no-repeat;
    background-size: cover;
  }

.top-bar {
    background-color: black;
    display: flex;
    height: 100px;
    justify-content: space-between;
    padding: 5px;
  }

  .left-label {
    padding-left: 5px;
    color: white;
    height: 100px;
    font-size: 90px;
    font-family: Helvetica;
  }
  
  .right-image {
    padding-right: 5px;
  }  

.container {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Added to vertically align items */
}

.space{
    margin-bottom: 5%;
}

.repeated-unit {
    width: 20%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex; /* Add flex display */
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
}

.image-wrapper {
    width: 400px;
    height: 300px;
    overflow: hidden;
    display: flex; /* Add flex display */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100%; /* Changed to max-width to ensure image fits within the container */
    max-height: 100%; /* Changed to max-height to ensure image fits within the container */
    object-fit: contain; /* Changed to object-fit: contain to maintain aspect ratio */
}

.overlay {
    position: relative;
    display: flex; /* Add flex display */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.overlay img {
    width: 125%;
    height: auto;
    display: block;
    display: flex; /* Add flex display */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.location {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 280px;
    height: 50px;
    transform: translate(-50%, -50%);
    background-color: transparent;
    color: white;
    font-family: Helvetica;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    word-wrap: break-word;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    margin-top: 25px;
    width: 100%;
    height: 100px;
    background-color: transparent;
    color: white;
    font-family: Helvetica;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    word-wrap: break-word;
}