<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\homepage.css">
</head>
<body>
    <div class="top-bar">
        <label class="left-label">DreamTraveller</label>
        <img class="right-image" src="static\bus.png" alt="Right Image">
    </div>
    <div class="center-content">
      <div class="image-wrapper">
          <img class="center-image" src="static\box.png" alt="Center Image">
          <div class="overlay-container">
              <div class="left-content">
                  <input type="text" id="search-textbox" class="textbox" placeholder="Search...">
              </div>
              <div class="right-content">
                  <button id="search-button" class="search-button">
                      <img src="static\search-icon.png" class="search-icon" alt="Search Icon">
                  </button>
              </div>
          </div>
      </div>
  </div>
</body>
</html>
