<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static\suggested.css">
</head>
<body>
    <div class="top-bar">
        <label class="left-label">DreamTraveller</label>
        <img class="right-image" src="static\bus.png" alt="Right Image">
    </div>
    <div class="container">
        <nbsp class="space">
    </div>
    <div class="container">
        <div class="repeated-unit">
        </div>
        <div class="repeated-unit">
            <div class="image-wrapper">
                <img src="static\suggestedDemo\mbs.jpg" id="pic1" alt="Image">
            </div>
            <div class="overlay">
                <img src="static\images\box2.png" alt="Overlay Image">
                <div class="location">Marina Bay Sands</div>
            </div>
            <div class="desc">This is a fantastic description</div>
        </div>
        <div class="repeated-unit">
        </div>
        <div class="repeated-unit">
            <div class="image-wrapper">
                <img src="static\suggestedDemo\mbs.jpg" alt="Image">
            </div>
            <div class="overlay">
                <img src="static\images\box2.png" alt="Overlay Image">
                <div class="location">Marina Bay Sands</div>
            </div>
            <div class="desc">This is a fantastic description</div>
        </div>
        <div class="repeated-unit">
        </div>
        <div class="repeated-unit">
            <div class="image-wrapper">
                <img src="static\suggestedDemo\mbs.jpg" alt="Image">
            </div>
            <div class="overlay">
                <img src="static\images\box2.png" alt="Overlay Image">
                <div class="location">Marina Bay Sands</div>
            </div>
            <div class="desc">This is a fantastic description</div>
        </div>
        <div class="repeated-unit">
        </div>
    </div>
</body>
</html>
