<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static\suggested.css">
    <style>
        a {
            text-shadow: none;
        }

        a:hover {
            text-shadow: 0px 0px 15px #FFFFFF, 0px 0px 15px #FFFFFF;
        }

        a:hover.nohover {
            text-shadow: none;
        }
    </style>
</head>
<body>
    <div class="top-bar">
        <a href="/">
            <label class="left-label">DreamTraveller</label>
        </a>
        
        <img class="right-image" src="static\images\bus.png" alt="Right Image">
    </div>
    <div class="container">
        <nbsp class="space">
    </div>
    <div class="center-content">
        <div class="image-wrapper">
            <img class="center-image" src="static\images\box.png" alt="Center Image">
            <div class="overlay-container">
                <div class="left-content">
                    <input type="text" id="search-textbox" class="textbox" placeholder="Search..." value="{{ searchquery }}">
                </div>
                <div class="right-content">
                    <button id="search-button" class="search-button">
                        <img src="static\images\search-icon.png" class="search-icon" alt="Search Icon">
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <nbsp class="space">
    </div>
    <div class="container">
        <div class="query"><span id="inpt"></span>{{ inpt }}</div>
    </div>
    <div class="container">
        <nbsp class="space">
    </div>
    <div class="container">
        <div class="repeated-unit">
        </div>
        <div class="repeated-unit">
            <div class="image-wrapper">
                <img src="{{ pic1 }}" alt="Image">
            </div>
            <div class="overlay">
                <img src="static\images\box2.png" alt="Overlay Image">
                <div class="location"><span id="loc1"></span>{{ loc1 }}</div>
            </div>
            <div class="desc"><span id="des1"></span>{{ desc1 }}</div>
        </div>
        <div class="repeated-unit">
        </div>
        <div class="repeated-unit">
            <div class="image-wrapper">
                <img src="{{ pic2 }}" alt="Image">
            </div>
            <div class="overlay">
                <img src="static\images\box2.png" alt="Overlay Image">
                <div class="location"><span id="loc2"></span>{{ loc2 }}</div>
            </div>
            <div class="desc"><span id="des2"></span>{{ desc2 }}</div>
        </div>
        <div class="repeated-unit">
        </div>
        <div class="repeated-unit">
            <div class="image-wrapper">
                <img src="{{ pic3 }}" alt="Image">
            </div>
            <div class="overlay">
                <img src="static\images\box2.png" alt="Overlay Image">
                <div class="location"><span id="loc3"></span>{{ loc3 }}</div>
            </div>
            <div class="desc"><span id="des3"></span>{{ desc3 }}</div>
        </div>
        <div class="repeated-unit">
        </div>
    </div>
    <script src="../static/js/control.js"></script>
</body>
</html>
