<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static\suggested.css">
</head>
<body>
    <div class="top-bar">
        <label class="left-label">DreamTraveller</label>
        <img class="right-image" src="static\images\bus.png" alt="Right Image">
    </div>
    <div class="container">
        <nbsp class="space">
    </div>
    <div class="container">
        <div class="repeated-unit">
        </div>
        <div class="repeated-unit">
            <div class="image-wrapper">
                <img src="{{ pic1 }}" alt="Image">
            </div>
            <div class="overlay">
                <img src="static\images\box2.png" alt="Overlay Image">
                <div class="location"><span id="loc1"></span>{{ loc1 }}</div>
            </div>
            <div class="desc"><span id="des1"></span>{{ desc1 }}</div>
        </div>
        <div class="repeated-unit">
        </div>
        <div class="repeated-unit">
            <div class="image-wrapper">
                <img src="{{ pic2 }}" alt="Image">
            </div>
            <div class="overlay">
                <img src="static\images\box2.png" alt="Overlay Image">
                <div class="location"><span id="loc2"></span>{{ loc2 }}</div>
            </div>
            <div class="desc"><span id="des2"></span>{{ desc2 }}</div>
        </div>
        <div class="repeated-unit">
        </div>
        <div class="repeated-unit">
            <div class="image-wrapper">
                <img src="{{ pic3 }}" alt="Image">
            </div>
            <div class="overlay">
                <img src="static\images\box2.png" alt="Overlay Image">
                <div class="location"><span id="loc3"></span>{{ loc3 }}</div>
            </div>
            <div class="desc"><span id="des3"></span>{{ desc3 }}</div>
        </div>
        <div class="repeated-unit">
        </div>
    </div>
    <script src="../static/js/control.js"></script>
</body>
</html>
